@import url("./parts/helpers.css");
@import url("./apps/mail/mail-app.css");
@import url("./apps/keep/keep-app.css");
@font-face {
    font-family: lato;
    src: url(./../font/Lato-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(./../font/fa-solid-900.ttf);
}

@font-face {
    font-family: 'fa-regular';
    src: url(./../font/fa-regular-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main-layout {
    margin-top: 8vh;
}


/* header */

.app-header {
    width: 100%;
    position: fixed;
    height: 8vh;
    background-color: rgb(165, 165, 165);
}

.app-header-section {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.logo {
    font-size: 30px;
}

.btn-main-menu {
    font-size: 30px;
    font-family: fa;
}

.btn-main-menu::before {
    content: '\f00a';
}

nav {
    background-color: rgb(228, 228, 228);
    float: right;
    padding: 10px;
}

nav span {
    font-size: 30px;
    font-family: fa;
}

nav ul {
    margin: 0;
    text-align: center;
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
}

nav li {
    flex-direction: column;
    display: flex;
}

nav div {
    font-family: lato;
}

.appsus-menu-list a {}

.appsus-menu-list a:hover {
    color: rgb(107, 107, 107);
}

.menu-link-book::before {
    content: '\f02d';
}

.menu-link-keep::before {
    content: '\f249';
}

.menu-link-mail::before {
    content: '\f0e0';
}

.menu-link-about::before {
    content: '\f129';
}


/* main content */


/* footer */

.app-footer {
    height: 5vh;
    background-color: rgb(165, 165, 165);
}