@import url("./parts/helpers.css");
@import url("./apps/mail/mail-app.css");
@import url("./apps/keep/keep-app.css");
@font-face {
    font-family: fa;
    src: url(./../font/fa-solid-900.ttf);
}

@font-face {
    font-family: 'fa-regular';
    src: url(./../font/fa-regular-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main-layout {
    margin-top: 5vh;
}


/* header */

.app-header {
    width: 100%;
    position: fixed;
    height: 5vh;
    background-color: rgb(165, 165, 165);
}

.app-header-section {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.btn-main-menu {
    font-family: fa;
}

.btn-main-menu::before {
    content: '\f00a';
}

nav {
    float: right;
}


/* main content */


/* footer */

.app-footer {
    height: 5vh;
    background-color: rgb(165, 165, 165);
}