@import url("./parts/helpers.css");
@import url("./apps/mail/mail-app.css");
@import url("./apps/keep/keep-app.css");
@font-face {
    font-family: lato;
    src: url(./../font/Lato-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(./../font/fa-solid-900.ttf);
}

@font-face {
    font-family: 'fa-regular';
    src: url(./../font/fa-regular-400.ttf);
}

@font-face {
    font-family: aquire;
    src: url(./../font/AquireBold-8Ma60.otf);
}

@font-face {
    font-family: robus;
    src: url(./../font/Robus-BWqOd.otf);
}

@font-face {
    font-family: veggy;
    src: url(./../font/VeggyPersonalUseSemiExpandedMedium-1GMov.ttf);
}

@font-face {
    font-family: watcher;
    src: url(./../font/WatcherPersonalUseBold-BWexB.ttf);
}

@font-face {
    font-family: fluid;
    src: url(./../font/FluidBold-lgOEq.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main-layout {
    margin-top: 8vh;
}


/* header */

.app-header {
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 8vh;
    background-color: rgb(205, 227, 254);
    /* background-color: rgb(165, 165, 165); */
    z-index: 1;
}

.app-header-section {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.logo {
    font-family: aquire;
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.logo div {
    font-family: veggy;
    letter-spacing: 0.2rem;
}

.btn-main-menu {
    font-size: 30px;
    font-family: fa;
}

.btn-main-menu::before {
    content: '\f00a';
}

nav {
    border-radius: 8px;
    background-color: rgb(232, 241, 253);
    float: right;
    padding: 10px;
}

nav span {
    font-size: 30px;
    font-family: fa;
}

nav ul {
    margin: 0;
    text-align: center;
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
}

nav li {
    flex-direction: column;
    display: flex;
}

nav div {
    font-family: lato;
}


/* .appsus-menu-list a {} */

.appsus-menu-list a:hover {
    color: rgb(107, 107, 107);
}

.menu-link-book::before {
    content: '\f02d';
}

.menu-link-keep::before {
    content: '\f249';
}

.menu-link-mail::before {
    content: '\f0e0';
}

.menu-link-about::before {
    content: '\f129';
}


/* main content */

.home-page {
    text-align: center;
    font-family: lato;
}


/* footer */

.app-footer {
    font-family: lato;
    text-align: center;
    height: 5vh;
    background-color: rgb(205, 227, 254);
}

.app-footer h3 {
    margin: 10px;
}


/* animations */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .7s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}

.user-msg {
    font-family: lato;
    position: fixed;
    top: 55px;
    left: 0;
    padding: 10px;
    background-color: white;
    border-radius: 1rem;
    z-index: 6;
}

.user-msg h4,
p {
    margin: 1px;
}

.success {
    margin: 1px;
    border: 4px solid rgb(27, 180, 27);
}

.error {
    margin: 1px;
    border: 4px solid red;
}

.user-msg button {
    position: absolute;
    right: 0;
    top: 5px;
}

.about-page {
    font-family: lato;
    text-align: center;
}

.book-app {
    font-family: lato;
    text-align: center;
}