.keep-app {
    font-family: lato;
    margin: 0 20px;
}

.keep-app pre {
    font-family: lato;
}

.btn-note {
    border: none;
    font-size: 17px;
    background-color: transparent;
    /* padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem; */
    border-radius: 3rem;
    height: 45px;
    width: 45px;
}

.btn-note:hover {
    background-color: rgb(228, 228, 228);
}

.btn-note-img {
    font-family: 'fa-regular';
}

.btn-note-img::before {
    content: '\f03e';
}

.btn-note-video {
    font-family: fa;
}

.btn-note-video::before {
    content: '\f03d';
}

.btn-note-todos {
    font-family: fa;
}

.btn-note-todos::before {
    content: '\f03a';
}

.btn-note-txt {
    font-family: 'fa-regular';
}

.btn-note-txt::before {
    content: '\f249';
}

.btn-note-pin {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    font-family: fa;
}

.btn-note-pin::before {
    content: '\f08d';
}

.btn-note-color {
    position: relative;
    display: inline-block;
}

.color-dropdown {
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 5;
    background-color: white;
    gap: 2px;
    transform: translate(20%, -40%);
}

.color-dropdown div {
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    border-radius: 2rem;
    /* border: 1px solid black; */
    height: 25px;
    width: 25px;
}

.color-dropdown div:first-of-type {
    border: 1px solid rgb(80, 80, 80);
}

.color-dropdown div:hover {
    border: 1px solid black;
}

.btn-note-color span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fa;
}

.btn-note-color span::before {
    content: '\f53f';
}

.btn-note-color:hover .color-dropdown {
    display: block;
}

.btn-note-edit {
    font-family: fa;
}

.btn-note-edit::before {
    content: '\f044';
}

.btn-note-copy {
    font-family: 'fa-regular';
}

.btn-note-copy::before {
    content: '\f0c5';
}

.btn-note-mail {
    font-family: fa;
}

.btn-note-mail::before {
    content: '\f0e0';
}

.btn-edit-add-todo,
.btn-add-todo {
    font-family: fa;
}

.btn-edit-add-todo::before {
    content: '\f067';
}

.btn-add-todo {
    font-size: 25px;
    display: none;
}

.btn-add-todo::before {
    content: '\f067';
}

.note-add div {
    margin-top: 10px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    /* border: 1px solid lightgray; */
    box-shadow: 0px 0px 7px .5px rgba(82, 82, 82, 0.66);
}

.note-add input {
    font-size: 17px;
    width: 200px;
    line-height: 2rem;
    border: none;
}

.note-list-ul {
    column-count: 5;
    padding-top: 20px;
    /* min-height: 500px; */
    /* column-gap: 15px; */
    column-width: 300px;
    break-inside: avoid;
    overflow: hidden;
}

.min-height-ul {
    min-height: 400px;
}

.min-height-ul-pinned {
    min-height: 200px;
}

.note-list-ul>li {
    /* margin-left: 15px; */
    break-inside: avoid;
    display: inline-block;
    border: 0.8px solid lightgray;
    border-radius: 0.5rem;
    width: 330px;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 0;
}

iframe {
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.note-preview-container:hover {
    /* box-shadow: 0px 0px 7px .5px rgba(82, 82, 82, 0.66); */
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
}

.note-preview-container {
    position: relative;
}

.note-preview-container:hover .btn-note-pin {
    display: block;
}

.show-btn {
    display: block;
}

.checked {
    text-decoration: line-through;
}

.btn-note-delete {
    font-family: fa;
}

.btn-note-delete::before {
    content: '\f2ed';
}

.pinned-notes {
    order: -1;
}

.note-preview img {
    width: 100%;
}

.note-filter {
    box-shadow: 0px 0px 7px .5px rgba(82, 82, 82, 0.66);
    padding: 6px;
    background-color: white;
    z-index: 2;
    display: inline-block;
    position: fixed;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-filter input,
select {
    font-family: lato;
    border: none;
    font-size: 16px;
}

.note-filter input {
    /* width: 200px; */
}

.note-filter select {
    /* width: 70px; */
    border-left: 1px solid gray;
}

.note-filter span {
    font-family: fa;
}

.note-filter span::before {
    content: '\f002'
}

.note-details-modal {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.8px solid rgb(211 211 211);
    border-radius: 0.5rem;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(92 92 92 / 76%);
}

.note-details-modal input,
textarea {
    background-color: transparent;
}

.edit-note-img {
    max-width: 300px;
}

.note-details iframe {
    height: 200px;
}

.btn-note-detail-save,
.btn-note-detail-close {
    font-size: 22px;
    font-family: fa;
}

.btn-note-detail-save::before {
    content: '\f0c7';
}

.btn-note-detail-close::before {
    content: '\f00d';
}

.edit-bar {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-note-detail-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-details input {
    width: 100%;
    border: none;
    line-height: 2rem;
    font-size: 20px;
    border-bottom: 3px solid lightgray;
    margin-bottom: 10px;
}

.note-details textarea {
    height: 180px;
    border: 3px solid lightgray;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.edit-todos input[type="text"] {
    line-height: 17px;
    font-size: 16px;
    flex-basis: 90%;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid lightgray;
}

.edit-todos input[type="checkbox"] {
    line-height: 17px;
    flex-basis: 10%;
}

.edit-todos li {
    display: flex;
}


/* media query */

@media (max-width :1050px) {
    .note-list-ul {
        padding-top: 20px;
        column-count: 3;
        column-gap: 15px;
        /* column-width: 300px; */
        break-inside: avoid;
        overflow: hidden;
    }
    .note-list-ul>li {
        width: 300px;
    }
}

@media (max-width :950px) {
    .note-list-ul {
        padding-top: 20px;
        column-count: 2;
    }
    .note-list-ul>li {
        width: 350px;
    }
}

@media (max-width :740px) {
    .note-list-ul {
        padding-top: 20px;
        column-count: 2;
        column-gap: 15px;
        /* column-width: 300px; */
        break-inside: avoid;
        overflow: hidden;
    }
    .note-list-ul>li {
        width: 270px;
    }
    .note-filter {
        position: static;
        z-index: 2;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 10px;
        display: block;
    }
    .note-filter div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width :550px) {
    .note-list-ul {
        padding-top: 20px;
        column-gap: 15px;
        column-count: 1;
        /* column-width: 300px; */
        break-inside: avoid;
        overflow: hidden;
    }
    .note-list-ul>li {
        width: 100%;
    }
}

@media (max-width :550px) {
    .note-add div {
        flex-direction: column;
        position: fixed;
        z-index: 5;
        width: 100%;
        bottom: 0;
        background-color: whitesmoke;
    }
    .note-add input {
        width: 250px;
    }
    .btn-add-todo {
        display: block;
    }
}